{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}



<div class="row mt-5">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">URL</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>{{freelancer.name}}</td>
                    <td>{{freelancer.phone}}</td>
                    <td>{{freelancer.url}}</td>
                </tr>

        </tbody>
        </table>
</div>
<hr>
<div>
    <h3>Portfolio</h3>
    <div class="d-flex flex-wrap pt-4">
        <br>
        {% if all_images %}
            {% for imagelink in all_images %}
            
            <img src="{{imagelink}}" alt="" class="img-thumbnail">
            
                
            {% endfor %}
        {% else %}
            <h3>No Image Found</h3>
        {% endif %}
    </div>
</div>


{% endblock content %}